body{
  font-family: Arial;
  margin: 0;
  padding: 0;
}
main{
  min-height: 80vh;
}
.card-collection{
  display: grid;
  grid-template-columns: 1fr;
}

.standout{
  box-shadow: 5px 5px darkgoldenrod; 
}
h1,
h2,
h3,
h4,
h5,
p{
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.5rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width:600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  .card-collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .card-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}